*{
	padding:0;
	margin:0;
	font:500 15px/1.8 'Microsoft Yahei', sans-serif;
	transition:all .2s ease;
	-moz-transition:all .2s ease; /* Firefox 4 */
	-webkit-transition:all .2s ease; /* Safari and Chrome */
	-o-transition:all .2s ease; /* Opera */
}
html, body{
    height:100%;
}

.go_back_home{
	display: block;
	position: fixed;
	top: 6%;
	left: 6%;
	text-decoration: none;
}

/****************************
*分辨率大于ipad时
*****************************/
@media only screen and (max-width:1024px) {
	*{text-shadow: 0 1px 8px rgba(0, 0, 0, 1);}
	body{
		height:100%;
		width:100%;
		position:relative;
		background:#DABCA5;
	}
	.wrapper{
		max-width: 1000px;
		position:relative;
		z-index:1;
		transition:all 2s ease;
		-moz-transition:all 2s ease; /* Firefox 4 */
		-webkit-transition:all 2s ease; /* Safari and Chrome */
		-o-transition:all 2s ease; /* Opera */
		-webkit-perspective: 800;
		margin:0 auto;
	}
	.bac{display:none;}
		.wrapper>h1{
			font-size: 700%;
			text-align: center;
			padding: 30% 0 10%;
			font-weight: bolder;
		}
		section{
			width: 68%;
			margin: 18% auto;
			clear: both;
		}
			#WAI{
				position:relative;
			}
				#WAI>img{
					position: absolute;
					width: 70%;
					z-index: -999;
				}
				#WAI ul{
					list-style: none;
					width: 333px;
					float: right;
					padding-bottom: 10%;
					margin-top: -10%;
				}
					#WAI ul>li{
						line-height:40px;
						color:#F3E5D0;
					}
					.icon{
						display:inline-block;
						width:30px;
						height:30px;
						margin-right:20px;
						vertical-align:middle;
						background:url(../images/css-sprite.png) no-repeat;
					}
						#Phone-ico{background:url(../images/Phone_icon.png) no-repeat;}
						#git-ico{background-position-y:-30px;}
						#zhihu-ico{background-position-y:-60px;}
						#v2ex-ico{background-position-y:-90px;}
						#sina-ico{background-position-y:-120px;}
					#WAI ul>li>a{
						text-decoration:none;
						color:#F3E5D0;
					}
						#WAI ul>li>a:hover{font-size:1.1em;}
						#gmail:hover{color:red;}
						#git:hover{color:black;}
						#zhihu:hover{color:blue;}
						#v2ex:hover{color:green;}
						#sina:hover{color:red;}
			p{
				color:#F3E5D0;
			}
			#WAI .screenIntro{
				margin-top: 20%;
			}
			.screenIntro{
				float:right;
				white-space: pre-wrap;
				width: 73%;
			}
		#WCID{
			padding-top: 20%;
			padding-bottom: 10%;
		}
			#mySkills{
				width:500px;
				height:300px;
			}
				#mySkills>li{
					padding:10px 15px;
					color:#F3E5D0;
					margin:5px;
					display:inline-block;
									}
				#mySkills .f1:hover{color:#ffff66;}
				#mySkills .f2:hover{color:#ff9966;}
				#mySkills .f3:hover{color:#ccff66;}
				#mySkills .f4:hover{color:#cc9966;}
				#mySkills .f5:hover{color:#99ff66;}
				#mySkills .f6:hover{color:#996666;}
				#mySkills .f7:hover{color:#66cc66;}
				#mySkills .f8:hover{color:#33cc66;}
				#mySkills .f9:hover{color:#00cc66;}
				#mySkills .f10:hover{color:#006666;}
				#mySkills .f11:hover{color:#ff6666;}

				#mySkills .s1:hover{color:#ff6633;}
				#mySkills .s2:hover{color:#ff99cc;}
				#mySkills .s3:hover{color:#cc66ff;}
				#mySkills .s4:hover{color:#6666cc;}

				#mySkills .t1:hover{color:#006600;}
				#mySkills .t2:hover{color:#666600;}
				#WCID>p>a{color:#00bfff;text-decoration:none;}
			.projects{
				position:relative;
				height:400px;
			}
				.projects>img{
					width: 80%;
					position: absolute;
					right: 0;
					z-index: -999;
					top: 70px;
				}
				.projects>p{
					display:inline-block;
					color:#F3E5D0;
					width: 50%;
				}
					.projects>p>a{
						display: block;
						font-size: 1.1em;
						margin-bottom: 10px;
						color: #00bfff;
						text-decoration: none;
						text-align: center;
					}
					.projects>p>a:hover,#WCID>p>a:hover{color:#f08080;}
			footer{
				width: 100%;
				text-align: center;
				color: #F3E5D0;
				line-height: 200px;
				font-size:1em;
				text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
			}
				footer>a{
					color:#F3E5D0;
					text-decoration:none;
					font-size:1em;
					text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
				}
				footer>a:hover{
					color:#00bfff;
				}
}



/****************************
*分辨率小于ipad时
*****************************/
@media only screen and (min-width:1025px) {
	*{
		color:#F3E5D0;
	}
	body{
		background:#DABCA5;
	}
	.wrapper{
		width:1415px;
		height:2200px;
		position: relative;
		overflow:hidden;
		margin:0 auto;
	}
	.bac{
		content:"";
		position:absolute;
		width:1000px;
		height:1000px;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		z-index:-9999;
		left:208px;
	}
	#first{
		background:#A4D9C7;
		top:-500px;
	}
	#second{
		background:#DC4B29;
		top:350px;
	}
	#third{
		background:#B36E55;
		top:1197px;
	}
		section{
			width:100%;
			position:relative;
		}
			#WAI{
				width: 400px;
				height: 400px;
				background: #a84d33;
				margin-top: 226px;
				margin-left: 508px;
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
				#WAI>img,#WAI ul{
					color:#F3E5D0;
					text-shadow:0 3px 13px rgba(0,0,0,1);
					-webkit-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				#WAI>img{
					width:150px;
					border-radius:10px;
					margin:60px auto auto 60px;
					position:absolute;
					display:block;
				}
				.wrapper>h1{
					width: 450px;
					margin: 426px 0 0 480px;
					font-size: 3em;
					text-align: center;
					border-top: 2px solid rgba(220,220,220,0.7);
					position: absolute;
					padding-top: 40px;
					z-index:999;
				}
				#WAI ul{
					width:333px;
					height:200px;
					list-style:none;
					position: absolute;
					top: -340px;
					left: 40px;
				}
					#WAI ul>li{
						line-height:40px;
					}
					.icon{
						display:inline-block;
						width:30px;
						height:30px;
						margin-right:20px;
						vertical-align:middle;
						background:url(../images/css-sprite.png) no-repeat;
					}
						#Phone-ico{background:url(../images/Phone_icon.png) no-repeat;}
						#git-ico{background-position-y:-30px;}
						#zhihu-ico{background-position-y:-60px;}
						#v2ex-ico{background-position-y:-90px;}
						#sina-ico{background-position-y:-120px;}
					#WAI ul>li>a{
						text-decoration:none;
						color:#F3E5D0;
						text-shadow:0 3px 13px rgba(0,0,0,1);
						transition:all 0.09s ease;
						-webkit-transition:all 0.2s ease;
						-moz-transition:all 0.2s ease;
						-o-transition:all 0.2s ease;
						-ms-transition:all 0.2s ease;
					}
						#WAI ul>li>a:hover{font-size:1.1em;}
						#gmail:hover{color:red;}
						#git:hover{color:black;text-shadow:0 0 20px gray;}
						#zhihu:hover{color:blue;}
						#v2ex:hover{color:green;}
						#sina:hover{color:red;}
			p{
				color:#F3E5D0;
				text-shadow:0 3px 13px rgba(0,0,0,1);
			}
			#WAI .screenIntro{
				width: 216%;
				white-space: pre-wrap;
				-webkit-columns: 1px 2;
				-webkit-column-gap: 60px;
				-moz-columns: 1px 2;
				-moz-column-gap: 60px;
				columns: 1px 2;
				column-gap: 60px;
				-webkit-transform: ROTATE(-45DEG);
				-moz-transform: ROTATE(-45DEG);
				transform: ROTATE(-45DEG);
				position: absolute;
				top: 330px;
				left: 60px;
			}
		#WCID{
			margin-top:337px;
			overflow:hidden;
		}
			#mySkills{
				display: inline-block;
				width: 400px;
				height: 400px;
				margin-top: 110px;
				background: #a84d33;
				margin-left: 508px;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				transform: rotate(45deg);
			}
				#mySkills>li{
					padding:10px 15px;
					color:#fff;
					margin:5px;
					display:inline-block;
					text-shadow:0 3px 13px rgba(0,0,0,1);
					-webkit-transform-origin: 100% 50%;
					-webkit-transform: rotate(-45deg);
					-moz-transform-origin: 100% 50%;
					-moz-transform: rotate(-45deg);
					transform-origin: 100% 50%;
					transform: rotate(-45deg);
					margin-bottom: 15px;
				}
				#mySkills .f1:hover{color:#ffff66;}
				#mySkills .f2:hover{color:#ff9966;}
				#mySkills .f3:hover{color:#ccff66;}
				#mySkills .f4:hover{color:#cc9966;}
				#mySkills .f5:hover{color:#99ff66;}
				#mySkills .f6:hover{color:#996666;}
				#mySkills .f7:hover{color:#66cc66;}
				#mySkills .f8:hover{color:#33cc66;}
				#mySkills .f9:hover{color:#00cc66;}
				#mySkills .f10:hover{color:#006666;}
				#mySkills .f11:hover{color:#ff6666;}

				#mySkills .s1:hover{color:#ff6633;}
				#mySkills .s2:hover{color:#ff99cc;}
				#mySkills .s3:hover{color:#cc66ff;}
				#mySkills .s4:hover{color:#6666cc;}

				#mySkills .t1:hover{color:#006600;}
				#mySkills .t2:hover{color:#666600;}
			#WCID .screenIntro{
				display:block;
				width:270px;
				white-space:pre-wrap;
				margin-left:20%;
				margin-bottom:140px;
			}
				#WCID>p>a{color:#00bfff;text-decoration:none;}
		#WIHD{
			margin-top:-130px;
		}
			.projects{
				width: 75%;
				margin: 50px auto;
			}
				.projects>img{
					width:40%;
					margin:50px 5% -50px;
				}
				.projects>p{
					display:inline-block;
					color:#F3E5D0;
					width: 40%;
					margin-bottom: 80px;
				}
					.projects>p>a{
						display: block;
						font-size: 1.1em;
						margin-bottom: 10px;
						color: #00bfff;
						text-decoration: none;
					}
					.projects>p>a:hover,#WCID>p>a:hover{color:#f08080;}
			footer{
				width: 100%;
				text-align: center;
				color: #F3E5D0;
				line-height: 100px;
				text-shadow:0 3px 20px rgba(0,0,0,1);
			}
				footer>a{
					color:#F3E5D0;
					text-decoration:none;
				}
				footer>a:hover{
					color:#00bfff;
				}
}