*{
	padding:0;
	margin:0;
	font:500 14px/1.8 'Hiragino Sans GB', 'fangzheng', 'Microsoft Yahei', sans-serif;
	transition: all .2s ease;
	-moz-transition: all .2s ease; /* Firefox 4 */
	-webkit-transition: all .2s ease; /* Safari and Chrome */
	-o-transition: all .2s ease; /* Opera */
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
a{
	color:#fff;
	text-decoration: none;
}
ul{
	list-style: none;
}
html, body{
	width:100%;
    height:100%;
	position: relative;
}
section{
	width: 100%;
	height: 92%;
	clear: both;
	position: relative;
}
h3{
	line-height: 1.5;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	letter-spacing: .2rem;
}
p{
	color:#fff;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: block;clear:both; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


#info{background:#3498db;}
#skill{background:#2c3e50;}
#experience{background:#fe7c60;}

#menu{position: fixed;top:0;left:0;right:0;text-align: center;z-index:9999;}
#menu li{display:inline-block;width:233px;text-align: center;font-size:18px;line-height: 2;}
#menu li:hover{color:#00bfff;}

.ico{display:inline-block;vertical-align: middle;width:25px;height:25px;margin-right:15px;background-size:contain;background-repeat: no-repeat;background-position: 50%;margin-left:-40px;margin-top:-4px;}

.inner,
.experience-div{
	width:100%;
	margin:0 auto;
	max-width: 1024px;
	font-size:0;
}
.avator,
.experience-project{float:right;width:50%;position:relative;}
.paragraph,
.experience-time{float:left;width:50%;}
.experience-time,
.experience-project{padding: 4%;font-size:14px;}
.experience-time,
.experience-project h4{font-size:18px;color:#f9f9f9;}
.experience-project ul{
  counter-reset: li; /* 创建一个计数器 */
  list-style: none; /* 清除列表默认的编码*/
  *list-style: decimal; /* 让IE6/7具有默认的编码 */
}
.experience-project ul li{
  counter-increment: term;
  padding-left: 36px;
  position: relative;
  line-height: 2;
  color:#fefefe;
}
.experience-project ul li::before{
  content: counter( term );
  position: absolute;
  left:0;
  width:25px;
  height:25px;
  text-align: center;
  font-size:14px;
  line-height: 25px;
  background:#3498db;
  display:block;
}
.experience-project ul li::after{
  content: '';
  position: absolute;
  left:25px;top:5px;
  border-top:8px solid #fe7c60;
  border-bottom:8px solid #fe7c60;
  border-left:8px solid #3498db;
  border-right:0 dotted transparent;
}
.experience-time{text-align: right;}
.experience-project{line-height: 2;}
.experience-time,.experience-project{display:none;}
.avator-img{width:240px;height:240px;border:5px solid #fff;border-radius:50%;overflow:hidden;margin-left:auto;cursor:pointer;background:#fff;}
.avator-img img{width:100%;display:block;}
#mission-one{position:absolute;top:100%;right:0;width:130%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
#mission-one>p{white-space: pre-wrap;opacity:0;color:#fafafa;}
.splitText_chars{
  position: relative;
  display:inline-block;
  margin:0;
  padding:0;
}
.paragraph{margin-top: 46px;position: relative;}
.paragraph h1{font-size:24px;line-height:3;color:#fff;}
.paragraph p{font-size:18px;line-height: 1.8;display:inline-block;vertical-align: top;width:90%;}
.paragraph-ico{background-image:url(../images/left_quote.png);}
.contact-ul{margin-top: 5%;}
.phone-ico{background-image:url(../images/phone.png);}
.mail-ico{background-image:url(../images/Gmail.png);}
.github-ico{background-image:url(../images/github.png);}
.v2ex-ico{background-image:url(../images/v2ex.png);}
.weibo-ico{background-image:url(../images/Weibo.png);}
.zhihu-ico{background-image:url(../images/zhihu.png);}
.contact-li{line-height: 3;position:relative;}
.contact-li a{font-size:18px;}

.biaoqing_50{float: right;display:block;width:100%;visibility: hidden;margin:30px auto;}
.avator-img:hover .biaoqing_50{visibility: visible;}

.skill-ul{}
.skill-li{display:inline-block;margin:1%;vertical-align: top;}
.skill-li-a{display:block;padding:6px 12px;background:#fe7c60;color:#fff;}
.skill-li-li{color:#f1f1f1;padding-left:12px;line-height: 2;}
@media only screen and (max-width:1024px) {
	.inner{ max-width:800px; }
  #mission-one{ width: 120%; }
}
@media only screen and (max-width:800px) {
  html,body{font-size:12px;}
	.inner{ max-width:90%; }
  .experience-time{width:35%;}
  .experience-project{width:65%;}
  .paragraph{margin-top:0;width:70%;}
  .avator{width:30%;}
  .avator-img{height:auto;width:70%;}
  .paragraph,.contact-li{padding-left: 7%;}
  .paragraph h1{font-size:22px;margin-left: -10px;}
  .paragraph p,.contact-li,.contact-li a{line-height: 2;font-size:12px;}
  .ico{width:16px;height:16px;}
  .experience-time,
  .experience-project{padding:2%;}
  .experience-project{padding-right:5%;}
  #mission-one{display:none;}
}
