pre[class*=language-].line-numbers.line-numbers code {
  padding-left: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
}
pre[class*=language-]>code {
  border-left-width: 1px;
  border-left-color: color-link;
  font-size: 12px;
  background-image: none;
}
pre[class*=language-]::before,
pre[class*=language-]::after {
  content: none;
}
pre[class*=language-]>code .token.inserted {
  background: rgba(206,234,196,0.439);
}
pre[class*=language-]>code .token.deleted {
  background: rgba(220,168,168,0.31);
}
