html,
body {
  font-family: font-sans;
  color: color-default;
}
.main-content {
  position: relative;
  max-width: 960px;
  padding-left: 250px;
  margin: 0 auto;
  word-wrap: break-word;
}
.main-footer {
  padding: 20px 0;
}
@media mq-mobile {
  .main-content {
    padding: 0 20px;
  }
}
